<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>东郊宾馆古树名木查询</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8;">
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name=”keywords” content="上海东郊宾馆、古树名木">

    <link rel="stylesheet" href="m-css/public.css">
    <link rel="stylesheet" href="m-css/index.css">
    <script src="m-js/public.js"></script>

    <script src="m-js/vue.min.js"></script>
    <script src="m-js/axios.min.js"></script>
    <script src="m-js/vue-resource.min.js"></script>
    <style>

    </style>
</head>

<body>
    <div class="index_body" id="app">
        <!--图片滚动切换 begin -->
        <div class="in_img1">
            <transition name='fade'>
                <img v-for="(img,index) in imgs" :key="index" :src="img" v-if="num==index" />
            </transition>
        </div>
        <!-- 图片滚动切换- end -->

        <div class="con">
            <div class="logo"></div>
            <div class="keshu">
                <div class="keshu_1">
                    现有古树名木
                </div>
                <div class="keshu_2">
                    共计<span>{{tree_count}}</span>棵
                </div>
            </div>
            <div class="text"></div>
            <a class="btn_more" href="treelist.html"></a>
        </div>
        <div class="footer"></div>
    </div>


    <script>
        new Vue({
            el: '#app',
            data: {
                info: [],
                info_search: [],
                num: 0,
                imgs: [],
                message: '',
                tree_count: 0,
                apiUrl: 'http://djhotel.sh-service.cn'
            },
            methods: {
                getdata() {
                    this.$http.get(this.apiUrl + '/tools/oldtree_ajax.ashx', {
                        params: {
                            action: 'get_tree_count'
                        }
                    }).then(response => response.json()).then(function(resp) {
                        // console.log(resp.body.treeCount);
                        this.tree_count = resp.treeCount
                    }).catch(resp => {
                        console.log('请求失败：' + resp.status);
                    });
                },
                getimg() {
                    this.$http.get(this.apiUrl + '/tools/oldtree_ajax.ashx', {
                        params: {
                            action: 'get_pic',
                            number: '230'
                        }
                    }).then(response => response.json()).then(function(resp) {
                        let obj = resp.result;
                        obj.forEach(item => {
                            this.imgs.push(this.apiUrl + item.img_url)
                        });
                    }).catch(resp => {
                        console.log('请求失败：' + resp.status);
                    });
                },
                autoPlay: function() { //num递增，num等于图片总数时回到第一张，其递增有下面的定时器实现
                    const _self = this;
                    _self.num++;
                    if (_self.num == this.imgs.length) {
                        _self.num = 0;
                    }
                },
                play: function() { //每隔一秒执行autoPlay，使得num递增
                    setInterval(this.autoPlay, 5000);
                }
            },
            mounted() {
                this.getdata();
                this.getimg();
                this.play();
            }
        })
    </script>
</body>

</html>