<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>东郊宾馆古树名木查询</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8;">
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name=”keywords” content="上海东郊宾馆、古树名木">

    <link rel="stylesheet" href="m-css/public.css">
    <link rel="stylesheet" href="m-css/index.css">
    <script src="m-js/public.js"></script>

    <script src="m-js/vue.min.js"></script>
    <script src="m-js/axios.min.js"></script>
    <script src="m-js/vue-resource.min.js"></script>
</head>

<body>
    <div class="index_con" id="app">
        <!--图片滚动切换 begin -->
        <!-- <div class="in_img1">
            <transition name='fade'>
                <img v-for="(img,index) in imgs" :key="index" :src="img" v-if="num==index" />
            </transition>
        </div> -->
        <!-- 图片滚动切换- end -->

        <div class="con">
            <div class="treeimg1">
                <div class="logo1"></div>
                <transition name='fade'>
                    <img v-for="(img,index) in imgs" :key="index" :src="img" v-if="num==index" />
                </transition>
                <div class="name">{{info.name | filter}}</div>
            </div>

            <div class="treejj_con">
                <ul class="kslist">
                    <li>
                        古树科属：<i>{{info.subjects}}</i>
                    </li>
                    <li>
                        古树树高：<i>{{info.treeheight}}(M)</i>
                    </li>
                    <li>
                        古树年龄：<i>{{info.treeage}}</i>
                    </li>
                    <li>
                        古树蓬径: <i>{{info.weight}}(CM)</i>
                    </li>
                    <li>
                        古树蓬径: <i>{{info.treebust}}(CM)</i>
                    </li>
                    <li>
                        古树产地：<i>{{info.address}}</i>
                    </li>
                    <div class="clearfix"></div>
                </ul>

                <div class="conjj">
                    <div class="title"></div>

                    {{info.introduced}}

                </div>

            </div>

            <div class="clearfix"></div>
        </div>


    </div>

    <script>
        Vue.filter('filter', val => {
            let reg = RegExp('<br/>', 'g')
            return val.replace(reg, ' ');
        });
        new Vue({
            el: '#app',
            data: {
                info: [],
                num: 0,
                imgs: [],
                id: null,
                apiUrl: 'http://djhotel.sh-service.cn'
            },
            created() {
                // console.log(window.location.href);
                let params = window.location.search;
                if (params == null || params.length <= 1) return


                var reg = new RegExp("(^|&)id=([^&]*)(&|$)");
                this.id = params.substr(1).match(reg)[2]
                    // console.log(r);

            },
            methods: {
                getdata() {
                    this.$http.get(this.apiUrl + '/tools/oldtree_ajax.ashx', {
                        params: {
                            action: 'get_oldtree',
                            number: this.id
                        }
                    }).then(response => response.json()).then(function(resp) {
                        // console.log(resp.result);
                        this.info = resp.result;
                        this.imgs = resp.result.imgurl;
                    }).catch(resp => {
                        console.log('请求失败：' + resp.status);
                    });
                },
                autoPlay: function() { //num递增，num等于图片总数时回到第一张，其递增有下面的定时器实现
                    const _self = this;
                    _self.num++;
                    if (_self.num == this.imgs.length) {
                        _self.num = 0;
                    }
                },
                play: function() { //每隔一秒执行autoPlay，使得num递增
                    setInterval(this.autoPlay, 5000);
                }
            },
            mounted() {
                this.getdata();
                this.play();
            }
        })
    </script>
</body>

</html>